__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
build/
dist/
*.spec
*.log
.pytest_cache/
.vscode/
.idea/
*.sqlite
*.pcap
*.jpg
*.png
!assets/*.sqlite
!assets/*.pcap
!assets/*.jpg
!assets/*.png
